@import 'foundation-apps/scss/settings';

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #313338;
$white: #fefefe;

$light-teal:#61A0B2;
$dark-teal:#2D5865;
$sky-blue:#92AFC0;
$burnt-red:#7B2E2E;

$global-padding: 1rem;
$primary-color: $sky-blue;
$button-color:$white;