body {
  font-family:Arial;
}

table {
  border:1px solid black;
}

thead {
  background-color:#FAFAFA;
  text-transform:uppercase;
}

th, td { padding: 10px; border:1px solid black; border-collapse: true; }

tbody tr {
  
  background-color:#eee;
  
  &:nth-child(2n+1) {
    background-color:#ddd;
  }
  
}